
.icon{
    font-size: 40px;
    margin-right: 5px;
}
.login-heading{
    margin-top: 20px;
    margin-bottom: 20px;
    color: black
}
.icon-heading{
    font-size: 40px;
    text-align: center;

}
.LoginWith{
    margin-top: 45px;
    text-align: center;
    color: #6e8594;
    font-size: 14px;
}
.Loginicon{
    text-align: center;
    color: #6e8594;
    font-size: 14px;
    margin-top: 15px;
}

.label{
    color: #6e8594;
    font-size: 14px;
}
.signupheading{
    margin-top: 50px;
    text-align: center;
    color: #6e8594;
    font-size: 14px;
}

.signup{
    color: #1fa17e;
    cursor: pointer;
}