.back-btn {
    background-color: white;
    border: none;
    border-radius: 20px;
    margin-right: 10px;
}
.btn-group  > button {
    background-color:white !important;
    margin-right: 10px;
    border: none !important;
    border-radius: 10px;
    color: #10375c !important;

}

.btn-group  > button:focus {
    outline: none !important;
    color: #10375c !important;

}
.back-btn:focus {
    outline: none !important;
}


.rbc-toolbar button.rbc-active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.525);
}
.logo{
    width: 10% !important;
    float: left;
    padding-left: 2%;
}

.rbc-label{
    font-size: 20px;
    font-weight: 600;
    padding: 0 20px;
    vertical-align: bottom;
}
.profile{
    float: right;
    /* width: 10%; */
    padding-right: 2%;
}
.toolbar {
    background-color: #e3f6f5 !important;
    /* margin-bottom: 20px; */
    padding-top: 15px;
    min-height: 70px;
}
@media only screen and (max-width: 990px) and (min-width: 100px) {
    .rbc-label{
        display: block;
        margin-top: 8px;
        margin-bottom: 8px;
    }
    .profile{
        float: right;
        width: 10%;
        padding-right: 2%;
    }
}