.image-filter {
    filter: brightness(0.5);
    height: 100% !important;
    width: 100%;
}

.image-overlay{
    position: fixed;
    bottom: 13%;
    left:94px;
    font-family: sans-serif;
    font-size: 43px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.58;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.rewiring{
    margin-top: 22px;
    border-left: 3px solid white;
    margin-left: 17px;
    padding-left: 15px;
    font-size: 32px;
}

.loginContainer {
    width: 100%;
    height: 100%;overflow: auto;
} 
.login-btn {
    background-color: #1fa17e;
    color: white;
    border-radius: 5px;
    height: 50px;
    width: 100%;
    font-size: 15px;
    font-weight: 600;
    border: #1fa17e;
    border-radius: 10px !important;
    margin-top: 20px;
}

.card2 {
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 3%;
    width: 35%;
    float: right;
    background-color: #ffffff;
    min-height: 100%;
    /* margin-top: 60px;
    margin-right: 50px;
    border-radius: 20px; */
    /* padding-bottom: 20px; */
}



/* @media only screen and (max-width: 1322px) and (min-width: 900px){
    .infoPopup{
      width: 85%;
    }
    .card2 {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 50px;
        width: 45%;
    }
    .card1{
        float: left;
        width: 55%;
    }
    .image-overlay{
        position: absolute;
        top: 60%;
    }
}
@media only screen and (max-width: 900px) and (min-width: 90px){
    .infoPopup{
      width: 85%;
    }
    .card2 {
        width: 50%;
        margin: auto;
    }
    .card1{
       display: none;
    }
    .image-overlay{
        position: absolute;
        top: 60%;
    }
} */