.image-filter {
    filter: brightness(0.5);
    height: 100% !important;
    width: 100%;
}

.image-overlay{
    position: fixed;
    bottom: 13%;
    left:94px;
    font-family: sans-serif;
    font-size: 43px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.58;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.rewiring{
    margin-top: 22px;
}

.loginContainer {
    /* width: 400px; */
    /* position: relative; */
    /* margin: 50px auto; */
    width: 100%;
    display: flex;
    /* display: grid; */
    /* grid-template-columns: 60% 40%;
    grid-gap: 10px;
    background-color:white; */
    /* background-image: url('../../ASSETS/signup2.png'); */
    height: 820px;

}
.login-btn {
    background-color: #1fa17e;
    color: white;
    border-radius: 5px;
    height: 50px;
    width: 100%;
    font-size: 15px;
    font-weight: 600;
    border: #1fa17e;
    border-radius: 10px !important;
    margin-top: 20px;
}

.card2 {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 50px;
    width: 42%;
}
.card1{
    float: left;
    width: 58%;
}


/* @media only screen and (max-width: 1322px) and (min-width: 900px){
    .infoPopup{
      width: 85%;
    }
    .card2 {
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 50px;
        width: 45%;
    }
    .card1{
        float: left;
        width: 55%;
    }
    .image-overlay{
        position: absolute;
        top: 60%;
    }
}
@media only screen and (max-width: 900px) and (min-width: 90px){
    .infoPopup{
      width: 85%;
    }
    .card2 {
        width: 50%;
        margin: auto;
    }
    .card1{
       display: none;
    }
    .image-overlay{
        position: absolute;
        top: 60%;
    }
} */