.header{
    width: 100%;
    position: relative;
    height: 90px;
    display: flex;
    background: black;
    justify-content: space-between;
    box-sizing: border-box;
}

.logo{
    font-size: 20px;
    color: #fff;
    text-transform: capitalize;
    font-weight: bold;
    text-shadow: 0 0;
}

.menu{
    font-size: 25px;
    /* padding: 9px; */
    padding-left: 35px;
    padding-right: 35px;
    color: black !important;
}

.logout-popup > a{
    font-weight: bold;
    text-shadow: 0 0;
    text-decoration: none;
}

.leftMenu{
    display: flex; 
    color: #fff; 
    margin: 20px;
}

.leftMenu > li{
    margin: 0 10px;
}

.logout-popup > a{
    color: black;
}
.logout-popup > a:hover{
    color: black;
    text-decoration: none;

}

.logout-popup > a.active{
    font-weight: bold;
}

.profile-icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    margin: auto;
    margin-top: -6px;
    padding-top: 11px;
    padding-left: 11px;
    font-weight: 600;
    cursor: pointer;
    font-size: 20px;
    box-shadow: 7px 7px 6px 1px #ccc;

}

.logout-popup{
    padding: 25px;
    width: 200px;
    height: 80px;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    top: 60px;
    right: 20px;
    z-index: 100;
    box-shadow: 7px 7px 6px 1px #ccc;
}
.logout-popup:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent white transparent;
    top: -20px;
    left: auto;
    right: 25px;
  }