.header{
    width: 100%;
    position: relative;
    height: 90px;
    display: flex;
    background: black;
    justify-content: space-between;
    box-sizing: border-box;
}

.logo{
    font-size: 20px;
    color: #fff;
    text-transform: capitalize;
    font-weight: bold;
    margin: 18px;
    text-shadow: 0 0;
}

.menu{
    font-size: 25px;
    /* padding: 9px; */
    padding-left: 35px;
    padding-right: 35px;
    color: black !important;
}

.menu > li > a{
    color: black;
    /* font-weight: bold; */
    text-shadow: 0 0;
    text-decoration: none;
}

.leftMenu{
    display: flex; 
    color: #fff; 
    margin: 20px;
}

.leftMenu > li{
    margin: 0 10px;
}

.leftMenu > li > a{
    color: #fff;
}

.leftMenu > li > a.active{
    font-weight: bold;
}