.dashboard{
    margin: 0 auto;
    padding-top: 100px;
    padding-left: 30px;
    padding-right: 30px;
    // width: 1300px;
    display: flex;
}
.frame1{
    min-width: 760px;
    background-color: white;
    height: 700px;
    border-radius: 10px;
    display: inline-block;
    margin: 0 auto;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.frame2{
    min-width: 400px;
    background-color: white;
    height: fit-content;
    border-radius: 10px;
    display: inline-block;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.attendance{
    width: 782px;
    border-radius: 10px;
}
.frame3{
    min-width: 760px;
    background-color: white;
    height: auto;
    border-radius: 10px;
    display: inline-block;
    margin: 0 auto;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.Calender{
    width: 100%;
    background-color: white;
    // margin: 20px auto;
    // padding: 20px;
    // padding-top: 0px;
}

.popup{
    position: absolute;
    top: 0%;
    left: 8%;
    width: 600px;
    border-radius: 10px;
    border: 1px solid;
    height: auto;
    padding: 20px;
    background-color: white;
    font-size: 18px;;
}

.cancel-button{
    float: right;
    cursor: pointer;
    font-size: 20px;
    font-weight: 900;
}

.task-heading{
    border-bottom: 1px solid ;
    padding-bottom: 15px;
    font-weight: 700;
    font-size: 1.25em;
    vertical-align: middle;
}
.popup-date{
    font-size: 20px;
    font-weight: 500;
}
.Plan-label{
     text-align: center;
     margin-top: 15px;
     margin-bottom: 15px;
     font-size: 20px;
     font-weight: 500;
}

.plan-button > button {
    background-color: #ea2150;
    color: white;
    border-radius: 5px;
    height: 40px;
    width: 90px;
    font-size: 15px;
    margin-top: -9px;
    font-weight: 600;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
}
.plan-button {
    float: right;
}
.calender-heading {
    font-weight: 600;
    // border-bottom: 1px solid black;
    padding-bottom: 15px;
    font-size: 25px;
}

.plan-button > button {
    cursor: pointer;
}

.react-time-picker__wrapper {
    display: flex;
    flex-grow: 1;
    padding: 5px;
    border-radius: 10px;
    flex-shrink: 0;
    border: thin solid gray;
}
.starttimepicker{
    float: right;
    width: 100%;
    border-bottom: 1px solid black;
    input {
        
        border: none;
        width: 100%;
        font-size: 24px;
        color: #10375c !important;
        margin-bottom: 2px;
        padding-left: 25px;
    }
    input::placeholder {
        color: #10375c !important;
    }
}

.starttime{
    height: 55px;
    padding-top: 10px;
    // margin-bottom: 15px;
}

.endtime{
    height: 55px;
}
.textarea {
    padding: 10px;
}

.rbc-event{
    background-color: #29de92 !important;
    opacity: 0.9;
    color: #10375c !important;
}


.rbc-month-view {
    width: 72% !important;
    margin-left:28%!important;
    border-left: 4px solid #f6f6f6 !important;
}

.rbc-time-view {
    width: 72% !important;
    margin-left: 28% !important;
    border-left: 4px solid #f6f6f6 !important;

}

.rbc-toolbar{
//    height: 70px !important;
   background-color: #e3f6f5 !important;
//    margin-bottom: 20px;
   display: inline-block !important;
   width: 80%;
   text-align: center !important;
   color: #10375c !important;

}


.rbc-toolbar .rbc-toolbar-label {
    flex-grow: 1 !important;
    padding: 0px 32px !important;
    text-align: center !important;
    font-size: 20px;
    font-weight: 500;

}
.back-btn {
    background-color: white !important;
    border: none !important;
    border-radius: 20px !important;
    margin-right: 10px !important;
    color: #10375c !important;

}

// .rbc-btn-group-right {
//     display: inline-block;
//     white-space: nowrap;
//     margin-right: 200px;
// }

.mini-calender{
    position: absolute;
    // height: auto;
    top: 80px;
    // width: 300px;
    // margin-left: 9px;
    width: 28%;
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
}
.calendar-col{
    width: 243px;
    margin: auto !important;
    .react-datepicker__header {
        text-align: center;
        background-color:  #e3f6f5 !important;
        border-bottom: 1px solid #aeaeae;
        border-top-left-radius: 0.3rem;
        padding-top: 8px;
        position: relative;
    }
    .react-datepicker__day--selected{
        background-color: #e3f6f5 !important;
        color: #10375c !important;
    }
    .react-datepicker__navigation--previous {
        left: 10px;
        border-right-color: #10375c !important;
        box-shadow: none;
    }
    .react-datepicker__navigation--next {
        right: 10px !important;
        border-left-color: #10375c !important;
        box-shadow: none;
    }
    .react-datepicker__year-dropdown-container--select, .react-datepicker__month-dropdown-container--select, .react-datepicker__month-year-dropdown-container--select, .react-datepicker__year-dropdown-container--scroll, .react-datepicker__month-dropdown-container--scroll, .react-datepicker__month-year-dropdown-container--scroll {
        display: inline-block;
        margin: 0 2px;
        // box-shadow: 7px 7px 6px 1px #ccc;
    }
}
.rbc-header {
    z-index: 1 !important;
}
.rbc-date-cell{
    text-align: center !important;
}
.bt {
    width: 250px;
    margin: auto !important;
}

.bt > .btn{
    width: 115px !important;
    background: #e3f6f5 !important;
    border: none !important;
    border-radius: 17px !important;
    margin: 5px !important;
    margin-bottom: 50px !important;
    margin-top: 30px !important;
    color: #10375c !important;
    box-shadow: 7px 7px 6px 1px #ccc;
}
// .btn:active {
//         outline: none !important;
//         box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.525) !important;
// }
.btn:focus {
    outline: none !important;
        box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.525) !important;
}


.taskheading{
    font-size: 24px;
    font-weight: 600;
    vertical-align: middle;
}
.react-datepicker__year-read-view--down-arrow, .react-datepicker__month-read-view--down-arrow, .react-datepicker__month-year-read-view--down-arrow  {
    border-top-color: #10375c !important;
    float: right;
    margin-left: 24px;
    top: 6px;
    position: relative;
    border-width: 0.45rem;
}
.react-datepicker__year-dropdown, .react-datepicker__month-dropdown, .react-datepicker__month-year-dropdown{
        background-color: #e3f6f5 !important;
}
.react-datepicker__day--keyboard-selected, .react-datepicker__month-text--keyboard-selected, .react-datepicker__quarter-text--keyboard-selected, .react-datepicker__year-text--keyboard-selected {
    border-radius: 0.3rem;
    background-color: white;
    color: #10375c !important;
}
.rbc-header{
    border-bottom: none !important;
}
.react-datepicker__current-month, .react-datepicker-time__header, .react-datepicker-year-header {
    margin-top: 0;
    color: #10375c !important;
    font-weight: bold;
    font-size: 0.944rem;
}
.react-datepicker__year-read-view--selected-year{
    color: #10375c !important;
}
.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
    color: #10375c !important;
}
.schedular-date {
    margin-left: -45px;
    font-size: 31px;
    margin-right: 30px;
    vertical-align: bottom;
}
.react-datepicker{
    box-shadow: 7px 7px 6px 1px #ccc;
    border: none;
}
.rbc-day-bg {
    flex: 1 0;
    box-shadow: 14px 7px 15px 0px #ccc;
    margin-bottom: 3px;
    margin-top: 0px;
}
.rbc-time-column .rbc-timeslot-group {
    flex: 1 1;
    box-shadow: 7px 7px 6px 1px #ccc;
}
.rbc-timeslot-group {
     border-bottom: none !important;
    min-height: 40px;
    display: flex;
    flex-flow: column nowrap;
}
@media only screen and (max-width: 990px) and (min-width: 100px) {
    .mini-calender{
        display: none;
    }
    .rbc-month-view {
        width: 100% !important;
        margin-left:0%!important;
        border-left: 4px solid #f6f6f6 !important;
    }
    
    .rbc-time-view {
        width: 100% !important;
        margin-left: 0% !important;
    }
}
 .react-datepicker__day, .react-datepicker__time-name {
    color: #000;
    display: inline-block;
    width: 1.7rem;
    line-height: 1.7rem;
    text-align: center;
    margin: 0.166rem;
    box-shadow: 7px 7px 6px 1px #ccc;
}

.rbc-show-more {
    background-color: transparent !important;
    z-index: 4;
    font-weight: bold;
    color: white;
    font-size: 85%;
    height: auto;
    line-height: normal;
    a:hover {
        color: white !important;
    }
}
